<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>MachOParser</string>
	<key>DAPluginConfig</key>
	<dict>
		<key>DAPluginName</key>
		<string>Mach-O Parser</string>
		<key>DAPluginAuthorName</key>
		<string>Michael Lamb</string>
		<key>DAPluginVersion</key>
		<string>1.0</string>
		<key>DAPluginShortDesc</key>
		<string>Parses mach-o binaries</string>
		<key>DAPluginFullDesc</key>
		<string>Parses mach-o binaries (Applications, Frameworks, Plugins, etc) into the macho ABI structures</string>
		<key>DAPluginAuthorEmail</key>
		<string>mlamb1976@yahoo.com</string>
		<key>DAPluginAuthorWebsite</key>
		<string>http://www.somewhere.com</string>
		<key>DAPluginCategory</key>
		<string>CodeParser</string>
		<key>CodeParserHandledFileTypes</key>
		<array>
			<string>Application</string>
			<string>Framework</string>
			<string>Plugin</string>
		</array>
	</dict>
</dict>
</plist>
